#main{
	width: 1296px;
	margin: 60px auto;
}
body{
	font-family: arial;
	font-size: 15px;
	line-height: 20px;
}

.label{
	display: inline-block;
	font-weight: bold;
	width: 150px;
}

div.table{
	display: table;
	width: 100%;
}
div.row{
	display:table-row;
	margin-bottom: 10px;
}
div.col{
	display: table-cell;
}
div.th{
	font-weight: bold;
	border-bottom: 1px solid #000;
	border-collapse:separate;
	border-spacing:5px;
	padding: 5px;
}
.found{ 
    color: #ffffff;
    background: green;
    width: 25px;
    height: 25px;
    border-radius: 16px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
}
.notfound{
	color: #555;
}
.hits{
    background: yellow;
    line-height: 25px;
    border-radius: 16px;
    height: 25px;
    display: inline-block;
    padding: 0px 16px;
}
.legend{

    font-size: 0.75em;
    padding-bottom: 15px;
    border: 1px solid;
    width: 475px;
    padding: 0px 20px 20px 20px;
    margin-bottom: 25px;
}
.onclick{
	color: blue;
	text-decoration: underline;
	cursor:pointer;
}
.onclick:hover{
	color: navy;
}
